main {
  background-color: gray;
  text-align: center;
}
.title,
.description {
  text-align: center;
}

.image {
  max-width: 100%;
}
.img-div {
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}
tribute-info {
  text-align: center;
}
