main {
  background-color: rgb(208, 208, 208);
  text-align: center;
}
.title,
.description {
  text-align: center;
}

.image {
  max-width: 100%;
}
.img-div {
  background-color: white;
}
.img-caption {
}
.tribute-info {
  text-align: left;
  margin-right: 300px;
  margin-left: 300px;
}
